/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0 !important;;
}


/* Custom color palette */
:root {
  --umatt-c-white: #f9f9f6;
  --umatt-c-black: #5d5757;
  --umatt-c-gold: #e4ba00;
  --umatt-c-blue: #60afff;
  --umatt-c-red: #c63130;

  /* CSS HEX */
  --black: #000000ff;
  --engineering-orange: #C11718ff;
  --saffron: #E6BC0Cff;
  --saffron-2: #E7BB07ff;
  --black-2: #000000ff;

  /* CSS HSL */
  --black-hsl: hsla(0, 0%, 0%, 1);
  --engineering-orange-hsl: hsla(360, 79%, 42%, 1);
  --saffron-hsl: hsla(48, 90%, 47%, 1);
  --saffron-2-hsl: hsla(48, 94%, 47%, 1);
  --black-2-hsl: hsla(0, 0%, 0%, 1);
   scroll-behavior: smooth;
}

/* SCSS Variables */
$black: #000000ff;
$engineering-orange: #C11718ff;
$saffron: #E6BC0Cff;
$saffron-2: #E7BB07ff;
$black-2: #000000ff;

/* SCSS HSL */
$black-hsl: hsla(0, 0%, 0%, 1);
$engineering-orange-hsl: hsla(360, 79%, 42%, 1);
$saffron-hsl: hsla(48, 90%, 47%, 1);
$saffron-2-hsl: hsla(48, 94%, 47%, 1);
$black-2-hsl: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$black-rgb: rgba(0, 0, 0, 1);
$engineering-orange-rgb: rgba(193, 23, 24, 1);
$saffron-rgb: rgba(230, 188, 12, 1);
$saffron-2-rgb: rgba(231, 187, 7, 1);
$black-2-rgb: rgba(0, 0, 0, 1);

/* SCSS Gradients */
$gradient-top: linear-gradient(0deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-right: linear-gradient(90deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-left: linear-gradient(270deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);
$gradient-radial: radial-gradient(#000000ff, #C11718ff, #E6BC0Cff, #E7BB07ff, #000000ff);

/* Basic styling for the entire application */

// Updated UMATT Color Palette
$dark-grey: #1f1f1f;
$blue: #60afff;
$yellow: #f5c800;
$red: #c11718; // Updated red
$beige: #757575; // Lightened beige



h1 {
  color: $red;
}

blockquote {
  color: $yellow;
  border-left: 4px solid $yellow;
}

a {
  color: $blue;
}
body {
  background: var(--umatt-c-white);
  background-color: $dark-grey;
  color: $beige;
  min-height: 100vh;
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 15px;
}