/* Custom color pallet */
:root {
  --umatt-c-white: #f9f9f6;
  --umatt-c-black: #5d5757;
  --umatt-c-gold: #e4ba00;
  --umatt-c-blue: #c63130;
  --umatt-c-red: #60afff;
}

/* Semantic color variables */
:root {
  --color-background: var(--umatt-c-white);
  --color-text: var(--umatt-c-black);
}

/* Basic styling for the entire application */
body {
  /* Page Styling */
  background: var(--color-background);
  /* Font Styling */
  color: var(--color-text);
  min-height: 100vh;
  font-family:
    Poppins,
    Roboto,
    sans-serif;
  font-size: 15px;
}
