/* filepath: /c:/Users/ramat/OneDrive/Desktop/umatt/website/src/assets/base.scss */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom color palette */
:root {
  --umatt-c-white: #f9f9f6;
  --umatt-c-black: #5d5757;
  --umatt-c-gold: #e4ba00;
  --umatt-c-blue: #60afff;
  --umatt-c-red: #c63130;
  /* CSS HEX */
  --black: #000000ff;
  --black-2: #000000ff;
  --red: #ff0000ff;
  --saffron: #e6bb07ff;
  --saffron-2: #e7b937ff;

  /* CSS HSL */
  --black-hsl: hsla(0, 0%, 0%, 1);
  --black-2-hsl: hsla(0, 0%, 0%, 1);
  --red-hsl: hsla(0, 100%, 50%, 1);
  --saffron-hsl: hsla(48, 94%, 46%, 1);
  --saffron-2-hsl: hsla(44, 79%, 56%, 1);
}

/* SCSS Variables */
$black: #000000ff;
$black-2: #000000ff;
$red: #ff0000ff;
$saffron: #e6bb07ff;
$saffron-2: #e7b937ff;

/* SCSS HSL */
$black-hsl: hsla(0, 0%, 0%, 1);
$black-2-hsl: hsla(0, 0%, 0%, 1);
$red-hsl: hsla(0, 100%, 50%, 1);
$saffron-hsl: hsla(48, 94%, 46%, 1);
$saffron-2-hsl: hsla(44, 79%, 56%, 1);

/* SCSS RGB */
$black-rgb: rgba(0, 0, 0, 1);
$black-2-rgb: rgba(0, 0, 0, 1);
$red-rgb: rgba(255, 0, 0, 1);
$saffron-rgb: rgba(230, 187, 7, 1);
$saffron-2-rgb: rgba(231, 185, 55, 1);

/* SCSS Gradients */
$gradient-top: linear-gradient(0deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-right: linear-gradient(90deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-left: linear-gradient(270deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);
$gradient-radial: radial-gradient(#000000ff, #000000ff, #ff0000ff, #e6bb07ff, #e7b937ff);

/* Semantic color variables */
:root {
  --color-background: var(--umatt-c-white);
  --color-text: var(--umatt-c-black);
}

/* Basic styling for the entire application */
body {
  /* Page Styling */
  background: var(--color-background);
  /* Font Styling */
  color: var(--color-text);
  min-height: 100vh;
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}